@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-wallpaper {
  background-image: url('/images/mitsuri-kanroji-3840x2160-23205.webp');
  background-size: cover;
  background-position: center;
}
.login-wallpaper {
  background-image: url('/images/ryou-the-water-3840x2160-23040.webp');
  background-size: cover;
  background-position: center;
}
.register-wallpaper {
  background-image: url('/images/frieren-beyond-5120x2880-22999.webp');
  background-size: cover;
  background-position: center;
}
